.boton_control{
	margin:2px;
	display: inline-block;
}

#curva{
	margin:2px;
	background: #bb6a6a;
	width: 200px;
	height: 200px;
}

.controles{
	position: fixed;
	right: 10px;
	top: 10px;
	/*background:black;*/
}
#controles_alternativos{
	display: none;
}


canvas{
	border: none;
	width:1280;
	height:720;
}

#canvas-espera{
	display: inline;
}


p[id='clase03-vertex shader']{
	display: none;
}